services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: prediction
    ports:
      - "5555:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/initdb:/docker-entrypoint-initdb.d:ro
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d prediction"]
      interval: 5s
      timeout: 5s
      retries: 5

  model_server:
    build: ./model
    ports:
      - "8501:8080"
    environment:
      DATABASE_URL: postgresql+psycopg2://admin:admin@db:5432/prediction
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - db_data:/var/lib/postgresql/data
      - hf-cache:/root/.cache/huggingface

  trainer:
    build: ./trainer
    ports:
      - "8505:8080"
    environment:
      DATABASE_URL: postgresql+psycopg2://admin:admin@db:5432/prediction
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - db_data:/var/lib/postgresql/data
      - hf-cache:/root/.cache/huggingface

  app:
    build: ./web_app
    ports:
      - "8000:8080"
    environment:
      DATABASE_URL: postgresql+psycopg2://admin:admin@db:5432/prediction
      MODEL_SERVER_URL: http://model_server:8080
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  grafana:
      image: grafana/grafana:latest
      ports:
        - "3000:3000"
      environment:
        GF_SECURITY_ADMIN_USER: admin
        GF_SECURITY_ADMIN_PASSWORD: admin
      volumes:
        - grafana_data:/var/lib/grafana
      networks:
        - app-network
      depends_on:
        db:
          condition: service_healthy

volumes:
  db_data:
  hf-cache:
  grafana_data:

networks:
  app-network:
